:root {
  --background-color: #f9f7fe;
  --sub-heading-color: #272124;
  --branding-color: #6c63ff;
  --page-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}
body {
  font-family: var(--page-font);
}
.heading-hero {
  text-align: center;
  padding-top: 184px;
  width: 1440px;
  height: 900px;
  background-color: var(--background-color);
}

h3 {
  color: var(--sub-heading-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: black;
  font-size: 96px;
  margin: 0;
}
h2 {
  color: var(--sub-heading-color);
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 49px;
  font-weight: 400;
}
.btn {
  background-color: var(--branding-color);
  border-radius: 4px;
  border-color: var(--branding-color);
  padding: 18px 30px;
  margin: 10px;
  font-size: 18px;
}
