:root {
  --background-color: #f9f7fe;
  --sub-heading-color: #272124;
  --branding-color: #6c63ff;
  --page-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}
body {
  font-family: var(--page-font);
  margin: 0 auto;
  width: 90%;
  height: fit-content;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--sub-heading-color);
}
.heading-hero {
  text-align: center;
  padding-top: 184px;
  height: 600px;
  background-color: var(--background-color);
}
.page-content {
  padding-top: 184px;
  background-color: var(--background-color);
  height: 600px;
  margin-left: 20px;
}
.heading-hero h1 {
  color: black;
  font-size: 96px;
  line-height: 1;
}
h1 {
  color: black;
  font-size: 64px;
  line-height: 1;
}
.heading-hero h2 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 49px;
  font-weight: 400;
}
h2 {
  font-size: 24px;
  font-family: var(--page-font);
}
h3 {
  font-size: 24px;
  font-family: var(--page-font);
}
h4 {
  font-size: 48px;
}
h5 {
  font-size: 18px;
  font-family: var(--page-font);
}
.heading-hero p {
  font-size: 36px;
  color: var(--sub-heading-color);
}
p {
  font-size: 16px;
  color: var(--sub-heading-color);
  font-weight: 400;
  line-height: 30px;
}
.btn-page {
  background-color: var(--branding-color);
  border-radius: 4px;
  border-color: var(--branding-color);
  padding: 18px 30px;
  margin: 10px;
  font-size: 18px;
  color: white;
}
.app-content {
  width: 50%;
  height: 50%;
}

.button-link {
  background-color: #fff;
  border-radius: 4px;
  border-color: #885df1;
  color: #885df1;
  padding: 18px 30px;
  font-size: 18px;
}
.heading {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.logo {
  max-width: 150px;
  position: fixed;
  left: 55px;
  top: 24px;
}
.nav-body {
  justify-content: right;
  padding-top: 20px;
  position: fixed;
  background-color: white;
  width: 80%;
  right: 30px;
}
.nav {
  width: 100%;
  text-align: end;
  margin-right: 50px;
}
.nav li {
  list-style-type: none;
  display: inline;
  line-height: 48px;
}
.nav li a {
  text-decoration: none;
  color: var(--sub-heading-color);
  font-size: 14px;
  margin: 0 20px;
}
.nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav a:hover {
  color: var(--branding-color);
}
ul .active a {
  color: var(--branding-color);
}
.profile-image {
  width: 100%;
  height: 90%;
  border-radius: 20px;
}
a {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
  padding-bottom: 30px;
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-top: 40px;
}
.email-link:hover {
  color: var(--branding-color);
}
footer .contact-btn:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  background: white;
  transition: all 100ms ease-in-out;
}
footer .social-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--background-color);
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--background-color);
}
footer .contact-box {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 10px;
}
footer .contact-box h4 {
  padding-left: 40px;
  margin-bottom: 0;
  font-size: 48px;
}
footer .contact-box p {
  padding-left: 40px;
  margin-left: 20px;
}
.contact-a {
  justify-content: end;
}
footer .contact-box a {
  margin-right: 70px;
}

@media (max-width: 576px) {
  body {
    text-align: center;
    margin-bottom: 60px;
  }
  .page-content {
    padding-top: 124px;
    margin-left: 0px;
  }
  .heading-hero {
    padding-top: 144px;
  }

  h3 {
    font-size: 28px;
    margin: 0;
  }
  .heading-hero h1 {
    font-size: 75px;
  }
  .heading-hero h2 {
    font-size: 16px;
  }
  .heading-hero p {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 14px;
    margin-top: 12px;
  }
  .app-content {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  h4 {
    font-size: 48px;
  }
  .nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .nav {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }

  .nav-body {
    justify-content: center;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    left: 0;
  }
  .logo {
    display: none;
  }
  .nav li a {
    font-size: 14px;
    margin: 0 10px;
  }
  footer .contact-box {
    padding-top: 20px;
    text-align: center;
  }
  footer .contact-box h4 {
    font-size: 36px;
    padding-left: 0px;
  }
  footer .contact-box p {
    padding-left: 0px;
    margin-left: 0px;
  }
  .contact-a {
    justify-content: center;
  }
  footer .contact-box a {
    margin-right: 0px;
  }
  .email-link {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 18px;
  }
  footer .social-links {
    margin-top: 20px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  body {
    text-align: center;
    margin-bottom: 100px;
  }
  .heading-hero {
    padding-top: 144px;
  }
  .heading-hero h1 {
    font-size: 85px;
  }

  .heading-hero p {
    font-size: 24px;
  }
  .app-content {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .page-content {
    padding-top: 124px;
    margin-left: 0px;
    padding-bottom: 100px;
  }
  h4 {
    font-size: 48px;
  }

  h1 {
    font-size: 86px;
  }
  h2 {
    font-size: 24px;
  }
  .logo {
    width: 50%;
  }
  .nav-body {
    padding-top: 22px;
    padding-right: 0px;
    margin-right: 0;
  }
  .nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .nav li a {
    margin: 0 10px;
  }
  .nav {
    width: 100%;
  }
  footer .contact-box {
    padding-top: 20px;
    text-align: center;
  }
  footer .contact-box h4 {
    font-size: 40px;
    padding-left: 0px;
  }
  footer .contact-box p {
    padding-left: 0px;
    margin-left: 0px;
  }
  .contact-a {
    justify-content: center;
  }
  footer .contact-box a {
    margin-right: 0px;
  }
  .email-link {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 20px;
  }
  footer .social-links {
    margin-top: 20px;
  }
}
/*@media (min-width: 768px) {
  body {
    margin-bottom: 100px;
  }
  .app-content {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .logo {
    width:100%;
  }
  .nav-body{
    text-align:end;
    padding-top:22px;
    padding-right:0px;
    margin-right:0;
  }
  .nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .nav li a {
    margin: 0 20px;
  }
  .nav {
    width: 100%;
  }
 
}*/
